NEXT_PUBLIC_SUPABASE_ANON_KEY=
# LOCAL SUPABASE
NEXT_PUBLIC_SUPABASE_URL='http://127.0.0.1:54321'
NEXT_PUBLIC_SITE_URL='https://synaply.team'

# MARK: DEV
NEXT_PUBLIC_BACKEND_DEV_URL='http://localhost:5678'

# MARK: TEST
NEXT_PUBLIC_BACKEND_URL='http://localhost:5678'

# MARK: PRODUCATION
NEXT_PUBLIC_BACKEND_URL='http://localhost:5678'

#LLM
LLM_BASE_URL=
LLM_MODEL=
LLM_API_KEY=
