# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-your-supabase-anon-key

# Backend API
NEXT_PUBLIC_BACKEND_DEV_URL=http://localhost:5678

# Convex
NEXT_PUBLIC_CONVEX_URL=replace-with-your-convex-url
